.banner {
  padding: 7%;
  margin: 2% 7%;
  box-sizing: border-box;
  border-radius: 50px;
  background-color: rgb(54, 54, 189);
}

.banner-content {
  width: 60%;
  margin: 5% 0;
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 77px;
  letter-spacing: -0.02em;
  color: white;
}
